body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
    text-align: center;
    margin-top: 60px;
}

h2 {
    color: #2c3e50;
}

.container {
    background: rgb(167, 155, 235);
    width: 320px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(197, 25, 25, 0.1);
}

input {
    width: 90%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #da5656;
}

button {
    padding: 8px 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #99aa90;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #29b9b2;
}

#result {
    margin-top: 15px;
    font-weight: bold;
    color: rgb(16, 63, 218);
}
